@import "tailwindcss";

:root {
  background-color: #1c1917;
  color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

canvas {
  display: block;
  margin: 0 auto;
}
